.home-page {
  background: url('https://www.10wallpaper.com/wallpaper/2560x1600/1702/Austria_Tourism_Travel_Resort-High_Quality_HD_Wallpaper_2560x1600.jpg') no-repeat center center fixed;
  background-size: cover;
}

.trip-page {
    background: url('https://cdn.wallpapersafari.com/32/78/uM1By7.jpg') no-repeat center center fixed;
  background-size: cover;
}

.profile-page {
  background: url('https://img.besthqwallpapers.com/Uploads/16-4-2018/48522/travel-concepts-wooden-plane-seashells-summer-travel-blue-boards.jpg') no-repeat center center fixed;
  background-size: cover
}

.nav-logo {
  height: 50px;
  width: 50px;
}

.login-button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
a {
  color: #BFC0C0;
  text-decoration: none;
  letter-spacing: 1px;
}
#button-3 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-3 a {
  position: relative;
  transition: all .45s ease-Out;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #BFC0C0;
  position: absolute;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}

#button-3:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

#button-3:hover a {
  color: #2D3142;
}

#main-logo {
  padding-top: 20px;
  height: 300px;
  width: 350px;
}

#welcome {
  display: flex;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: larger;
  justify-content: center;
}

#home-text {
  margin-top: 60px;
}

h3 {
  color: red;
}

.linebreak {
  white-space: pre-line;
}

.container {
  background-color: aquamarine;
  margin-top: 40px;
}
.container2 {
  background-color: aquamarine;
  margin-top: 10%;
}

#home-img {
  max-width: 80%;
  width: auto;
  max-height: 75%;
  height: auto;
  margin: auto;
}

.trip-btn {
  margin-left: 50%;
}

.user-welcome {
  text-align: center;
  position: flex;
  padding-top: 20px;
}

#edit-profile {
  margin-top: 20px;
  position: flex;
  margin-left: 85%;
}

.reg-btn {
  display: flex;
}

.img {
  max-width: 80%;
  width: auto;
  max-height: 75%;
  height: auto;
  margin: auto;
  text-align: center;
}
